#* @vtlvariable name="user" type="nl.pts4.model.AccountModel" *#
<html>
<body>
<h3>Hello there ${user.getName()}!</h3><br/>
<div>
    Hello there, just informing you that chrismas is on it's way.
    You can buy your favorite family pictures <a href="pts4.guushamm.tech">at our store</a>
    <p><p>
    Much wow, such bye!<br/>
    Photoshop
</div>
</body>
</html>