#parse("header.vm")
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <a href="/createchild" class="btn btn-primary"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
#parse("footer.vm")