#parse("header.vm")
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="well bs-component" >
        <form class="form-group" id="makeItemForm" action="changeitem" method="POST" enctype="multipart/form-data" >
            <fieldset>
                <div class="form-group" >
                    <h2 class="form-signin-heading">#springMessageText("change.item", "Change item")</h2>
                    <br/>
                    <label for="inputMakeItem" class="sr-only">#springMessageText("change.item", "Change an item")</label>

                    <input  type="text" id="inputType" name="type" class="form-control"
                            placeholder=#springMessageText("type", "Type") required="" value="${type}"
                            autofocus="">
                    <br/>
                    <input type="text" id="inputdescription" name="description" class="form-control" value="${description}"
                           placeholder=#springMessageText("description", "Description") required=""
                           autofocus="">
                    <br/>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">€</span>
                        <input name="price" type="number" value="${price}" min="0" step="0.5" data-number-to-fixed="2" data-number-stepfactor="1000" class="form-control glyphicon-euro" id="c2" />
                    </div>
                    <br/>


                    <div class="well">
                        <input type="file" name="file">
                    </div>

                    <button id="btnMakeItem" class="btn btn-lg btn-primary btn-block" type="submit" value="makeitem">#springMessageText("make.item", "Make item")</button>

                </div>
            </fieldset>
        </form>
    </div>
</div>
#parse("footer.vm")