<footer class="bottomOfPage">
    <div class="container">
        <span class="text-muted bottomOfPage">#springMessageText("footer.text", "Footer text")</span>
    </div>
</footer>
</body>
<script src="/js/bootstrap.min.js"></script>