<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/css/tether.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="/_login.css" />
<head>
    #if (! $title)
        <title>Whoops! No title, we forgot :(</title>
    #else
        <title>$title</title>
    #end
</head>
<body>