<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    #if ($account && $account.theme != "" && $account.theme != "null")
        <link rel="stylesheet" href="/css/${account.theme}">
    #else
        <link rel="stylesheet" href="/css/bootstrap.yeti.min.css">
    #end
    <link rel="stylesheet" href="/css/_login.css"/>
    <link rel="stylesheet" href="/css/_footer.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="/js/jquery.min.js"></script>

    #if ($title == "" || !$title)
        <title>Whoops! No title, we forgot :(</title>
    #else
        <title>$title</title>
    #end
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand active" href="/">#springMessageText("header.logo", "Photoshop")</a>

            <!-- Links -->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/photos">#springMessageText(
                        "main.photos", "View Photo's")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order-overview">#springMessageText("orders", "Orders")</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">#springMessageText("header.cart", "Shopping Cart") <span
                            class="badge"> #if($cart) $cart.size() #else 0  #end  </span><span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        #if($cart)
                            #set($total=0)
                            #foreach ($item in $cart)
                                #set($total=$total+$item.price)
                            #end
                            <p>#springMessageText("header.cart.total", "Total"): €$total</p>
                            <div class="btn-group btn-group-justified">
                                <a href="/clearcart" class="btn btn-danger btn-block">#springMessageText(
                                    "header.cart.clear", "Clear")</a>
                                <a href="/order" class="btn btn-primary btn-block">#springMessageText(
                                    "header.cart.checkout", "Checkout")</a>
                            </div>
                            #foreach ($item in $cart)
                                <li class="list-group-item"><img
                                        class="thumbnail list-group-item-heading img-responsive img img-rounded"
                                        src="http://pts4.guushamm.tech/resources/$item.filePathLowRes"
                                        alt="Card image cap">
                                    <p class="list-group-item-text">€$item.price</p>
                                </li>
                            #end


                        #else
                            <li class="list-group-item">#springMessageText(
                                "header.cart.empty", "Your cart is empty")</li>
                        #end

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        #if (!$account)
                            Account
                        #else
                            $account.name #if($privileged)
                            ( $account.accountTypeEnum.toString().substring(0,1).toUpperCase()$account.accountTypeEnum.toString().substring(1)
                            ) #end
                        #end
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        #if (!$account)
                            <li><a href="/login">#springMessageText("login", "Login")</a></li>
                            <li><a href="/register">#springMessageText("register", "Register")</a></li>
                        #else
                            <li><a href="/account/settings">#springMessageText("settings", "Settings")</a></li>
                            <li><a href="/logout">#springMessageText("logout", "Logout")</a></li>
                        #end
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    #if($error)
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> $error
        </div>
    #end
    #if($warning)
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Watch out!</strong> $warning
        </div>
    #end
    #if($success)
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Great Success!</strong> $success
        </div>
    #end
</div>

