#parse("header.vm")
<div class="container">
    <div class="list-group">
        #foreach ($item in $items)

            <div class="col-lg-6">
                <div class="list-group-item">
                    <div class="row">

                        <div class="col-lg-4 list-group-item-heading"
                             style="position:relative;overflow: hidden;padding-bottom: 50%">
                            <a href="/photos?id=$photo.uuid"><img style="position: absolute;"
                                                                  class="img-responsive img img-rounded full-width"
                                                                  src=http://pts4.guushamm.tech/resources/$item.getThumbnailPath()"
                                                                  alt="Card image cap" si></a>
                        </div>
                        <div class="col-lg-8 col">
                            <p>€ $item.getPrice()</p>
                            <p>$item.getType()</p>
                            <p>$item.getDescription()</p>
                            <a class="btn btn-primary" href="/changeitem?itemid=$item.getId()">#springMessageText(
                                "change", "Change")</a>
                            <a class="btn btn-primary"
                               href="/itemoverviewdelete?itemid=$item.getId()">#springMessageText("delete", "X")</a>
                        </div>
                    </div>
                </div>
            </div>
        #end
    </div>

</div>
#parse("footer.vm")