#parse("header.vm")
<div class="container">
    <div class="alert alert-danger hidden" role="alert" id="errorBox">
        Invalid login
    </div>
    <form class="form-signin" id="loginForm">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript">
        var loginBtn = $("#btnLogin");
        var errorBox = $("#errorBox");
        function setLogin(b) {
            if (b) {
                loginBtn.prop("disabled", "disabled");
                loginBtn.text("Logging in...");
            }else{
                loginBtn.prop("disabled", null);
                loginBtn.text("Login");
            }
        }

        function showError(error) {
            errorBox.removeClass('hidden');
            errorBox.text(error);
        }

        var socket = io("http://localhost:8081/");
        $("#loginForm").submit(function (e) {

            e.preventDefault();
            setLogin(true);

            var email = $("#inputEmail").val();
            var password = $("#inputPassword").val();

            $.ajax({
                "url": "login-rest",
                "method": "post",
                "data": {
                    "email": email,
                    "password": password
                },
                "success": function (data) {
                    var result = data;
                    if (!result.success) {
                        showError("Invalid username or password");
                        setLogin(false);
                    } else {
                        window.location.replace("/");
                    }
                },
                "error": function (data) {
                    console.log(data);
                    setLogin(false);
                    showError("Something went wrong with the result, try again later")
                }
            });
        });
    </script>
</div>
#parse("footer.vm")