#parse("header.vm")
<div class="container">
    <div class="jumbotron text-center">
        <h1>#springMessageText("main.welcome", "Welcome to the photostore")</h1>
    </div>

    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <a href="/photos" class="btn btn-default btn-block btn-lg">#springMessageText(
                        "main.photos", "View Photo's")</a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="list-group">
                    #if($privileged)
                        <div class="list-group-item col-lg-4">
                            <a href="/multiupload" class="btn btn-primary btn-block btn-lg">#springMessageText(
                        "main.upload", "Upload a photo")</a>
                        </div>
                        <div class="list-group-item col-lg-4">
                            <a href="/order-overview" class="btn btn-primary btn-block btn-lg">#springMessageText(
                        "main.orders", "View Orders")</a>
                        </div>
                        <div class="list-group-item col-lg-4">
                            <a href="/items" class="btn btn-primary btn-block btn-lg">Items</a>
                        </div>
                    #end

                    <div class="list-group-item col-lg-4">
                        <a href="#" class="btn btn-primary btn-block btn-lg">Dummy Button</a>
                    </div>
                    <div class="list-group-item col-lg-4">
                        <a href="#" class="btn btn-primary btn-block btn-lg">Dummy Button</a>
                    </div>
                    <div class="list-group-item col-lg-4">
                        <a href="/account/settings" class="btn btn-warning btn-block btn-lg">#springMessageText(
                            "main.settings", "Settings") <span class="glyphicon glyphicon-cog"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
#parse("footer.vm")