#parse("header.vm")

<script type="text/javascript">
    $(document).ready(function () {
        $("div[id^='priceItem']").each(function(index) {
            var item = $(this);
            var effectSelecter = item.find("#effectSelect");
            effectSelecter.change(function() {
//                var value = effectSelecter.val();
                var selectedValue = effectSelecter[0].selectedIndex;
                var text = effectSelecter[0].options[selectedValue].text;
                var img = item.find("img");
                if (text == "Grayscale") {
                    img.removeClass("invert");
                    img.addClass("grayscale");
                } else if (text == "Inverted") {
                    img.removeClass("grayscale");
                    img.addClass("invert");
                } else {
                    img.removeClass("grayscale");
                    img.removeClass("invert");
                }
            })

            var itemSelecter = item.find("#itemSelect");

            itemSelecter.change(function() {
                var selectedValue = itemSelecter[0].selectedIndex;
                var value = itemSelecter.val();

                var previewButton = item.find("#previewHyperlink");
                var oldURL = previewButton.attr('href');

                var newURL = "/order/preview?itemID=" + value + oldURL.substr(oldURL.lastIndexOf('&'));
                var img = item.find("img");
                img.attr("src", newURL);
                previewButton.attr('href', newURL);
            })
        })
    });
    $(function(){
        $("#buyButton").click(function () {
            $("#buyButton").attr("disabled", true);
            $('#paypalForm').submit();
        });
    });

</script>

<style type="text/css">
    img.grayscale {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%);
    }

    img.invert {
        -webkit-filter:invert(100%);
        filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
    }

    img.greyscaleinvert {
        -webkit-filter: grayscale(50%);
        -webkit-filter: invert(50%);
    }
</style>

<div class="container" xmlns="http://www.w3.org/1999/html">

    #if (!$cart)
        <div class="jumbotron text-center text-uppercase">
            <h1>Your cart is empty</h1>
        </div>
    #else
        <div class="list-group">
##            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <form id="paypalForm"action="order" method="post">

                <div class="list-group-item">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="upload" value="1">
                    <input type="hidden" name="business" value="woutie012006@hotmail.nl">

                    #foreach ($photo in $cart)
                        <input type="hidden" name="item_name_$foreach.count" value="Item Name $foreach.count">
                        <input type="hidden" name="amount_$foreach.count" value="1.00">
                        <input type="hidden" name="shipping_$foreach.count" value="0.00">

                        <div class="row priceItem" id="priceItem">
                            <div class="col-lg-2">
                                <img class="img-responsive img img-rounded" value="$photo.getUuid()"
                                     src="http://pts4.guushamm.tech/resources/$photo.filePathLowRes"
                                     id="photoSelect" alt="Card image cap" si>
                            </div>
                            <input name="photo" value="$photo.getUuid()" hidden="hidden">
                            <div class="col-lg-2">
                                <Label class="h6">Filter</Label>
                                <select class="form-control" id="effectSelect" name="effect">
                                    #foreach ($effect in $effects)
                                        <option value="$effect.getId()">$effect.type</option>
                                    #end
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <Label class="h6">Item</Label>
                                <select class="form-control" id="itemSelect" name="item">
                                    #foreach ($item in $items)
                                        <option value="$item.getId()">$item.type</option>
                                    #end
                                </select>
                            </div>

                            <div class="col-lg-2">
                                <Label class="h5" id="itemPrice">Price: &#8364;</Label>
                            </div>

                            <div class="pull-right col-lg-2">
                                <a class="btn btn-primary" href="/photos?id=$photo.uuid"><i
                                        class="material-icons">add</i></a>
                                <a class="btn btn-danger" href="/remove_photos?id=$photo.uuid"><i
                                        class="material-icons">clear</i></a>
                                <a class="btn btn-primary" id="previewHyperlink" href="/order/preview?itemID=4&photoUUID=$photo.uuid">
                                    <i class="material-icons">visibility</i></a>
                            </div>
                        </div>
                        <br>
                    #end
                </div>
                <div class=" pull-right">
                    <input id="buyButton"type="submit" value="PayPal" class="btn btn-primary" />
                </div>
            </form>

        </div>
    #end
</div>
<script src="/js/price.js"></script>
#parse("footer.vm")