#parse("header.vm")
<body>
<div class="container">
    <ul class="list-group">
        #foreach( $order in $allOrders)
            <li class="list-group-item">$order.getId()</li>
        #end
    </ul>
</div>
</body>
#parse("footer.vm")