#parse("header.vm")
<div class="container">
    <div class="list-group">

        <div class="list-group-item">
            #foreach ($photo in $cart)
                <div class="row priceItem" id="priceItem">
                    <div class="col-lg-2">
                        <img class="img-responsive img img-rounded" value="$photo.getUuid()" src="$photo.filePath"
                             id="photoSelect" alt="Card image cap" si>
                    </div>
                    <div class="col-lg-2">
                        <Label class="h6">Filter</Label>
                        <select class="form-control" id="effectSelect">
                            #foreach ($effect in $effects)
                                <option value="$effect.getId()">$effect.type</option>
                            #end
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <Label class="h6">Item</Label>
                        <select class="form-control" id="itemSelect">
                            #foreach ($item in $items)
                                <option value="$item.getId()">$item.type</option>
                            #end
                        </select>
                    </div>

                    <div class="col-lg-5">
                        <Label class="h5" id="itemPrice">Price: &#8364;</Label>
                    </div>
                </div>
            #end
        </div>
    </div>
</div>
<script src="/js/price.js"></script>
#parse("footer.vm")