#parse("header.vm")
<div class="container">
    #set($row = -1)
<div class="row" style="margin-top: 20px;">
    #foreach ($photo in $photos)
        <div class="col-sm-6">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <img class="card-img-top" src="$photo.getFilePath()" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text">Gemaakt door $photo.getPhotographer().getName(), op $photo.getCaptureDate()</p>
                    <a href="/buy?pt=$photo.uuid" class="btn btn-primary">Buy this photo for only $photo.getRoundedPrice()</a>
                </div>
            </div>
        </div>

        #if ($row % 2 == 0)
        </div>
        <div class="row">
        #end
        #set($row = $row + 1)
    #end
</div>
#parse("footer.vm")