#parse("header.vm")
<div class="container">
    <div class="list-group">
        #foreach ($photo in $photos)
            #parse("snippets/photoSnippet.vm")
        #end
    </div>

</div>
#parse("footer.vm")