#parse("header.vm")
<body>
<div class="container">
    <div class="alert alert-danger hidden" role="alert" id="errorBox">
        Email is already taken
    </div>
    <form class="form-signin" id="registerForm" method="post">
        <h2 class="form-signin-heading">Please register</h2>

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus autocomplete="off">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autocomplete="off">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnRegister">Register</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var btnRegister = $("#btnRegister");
        function setFormInvalid(bInvalid) {
            if (bInvalid) {
                btnRegister.prop("disabled", "disabled");
            }else{
                btnRegister.prop("disabled", null);
            }
        }

        var errorBox = $("#errorBox");
        function showError(error) {
            errorBox.removeClass('hidden');
            errorBox.text(error);
        }

        function hideError() {
            errorBox.addClass('hidden');
        }

        var socket = io("http://localhost:8081/");
        socket.on("email", function(data) {
            setFormInvalid(data);
            if (data) {
                showError("Email already taken");
                return;
            }
            validatePassword();
        });

        var inputEmail = $("#inputEmail");
        inputEmail.on('input', function () {
            validateEmail();
        })

        var inputPassword = $("#inputPassword");
        inputPassword.on('input', function() {
            validatePassword();
        });

        function validate() {
            validatePassword();
            validateEmail();
        }

        function validateEmail() {
            socket.emit('emailCheck', inputEmail.val());
        }

        function validatePassword() {
            var pass = inputPassword.val();
            if (pass.indexOf(' ') != -1) {
                setFormInvalid(true);
                showError("Password can't contain any of the following characters: ' '");
                return;
            }
            if (pass.length < 6) {
                setFormInvalid(true);
                showError("Invalid password, minimal length must be at least 6 characters");
                return;
            }
            setFormInvalid(false);
            hideError();
            validateEmail();
        }
        validate();

        $("#registerForm").submit(function(e) {
            setFormInvalid(true);
        });
    });
</script>
#parse("footer.vm")