#parse("header.vm")
<h1>Spring MVC internationalization example</h1>

Language : <a href="?language=en">English</a>|
<a href="?language=nl">Chinese</a>

<h3>
    #springMessageText("welcome.springmvc", "Hello Default!")
</h3>

</body>
