#* @vtlvariable name="user" type="nl.pts4.model.AccountModel" *#
#* @vtlvariable name="order" type="nl.pts4.model.OrderModel" *#
#* @vtlvariable name="photo" type="nl.pts4.model.PhotoModel" *#
#* @vtlvariable name="effect" type="nl.pts4.model.EffectModel" *#
<html>
<body>
<h3>Very hello there ${user.getName()}!</h3><br/>
<div>
    You successfully placed your order for such photo..<br/>
    <a href="pts4.guushamm.tech/order-overview">View your wows</a>
    <p><p>
    #if($effect)
    #foreach ($e in $effect)
        e
    #end
    #end

    Much wow, such bye!<br/>
    Photoshop
    <img src="https://thenextweb.com/wp-content/blogs.dir/1/files/2013/12/dogecoin-img.jpg">
</div>
</body>
</html>